---
import NavBar from '../components/NavBar.astro'
import Hero from '../components/Hero.astro'

---

<div class="bg-gradient-to-r from-blue-100 via-white to-blue-50">

    <NavBar/>
    <Hero/>
</div>